html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: normal;
    font-size: 14px;
    min-height: 100vh;
    color: $dark-900;
    background-color: $white;
}

.container {
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
}