html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    @extend %lato-400;
    font-size: 14px;
    line-height: 1.4;
    min-height: 100vh;
}

.container {
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.title {
    @extend %signika-600;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-900;
}

button {
    font-size: 18px;
    line-height: 1.3;
    @extend %lato-400;
    cursor: pointer;
    letter-spacing: 0.03em;
}