    @import 'vars';
    @import 'fonts';
    @import 'reset';
    @import 'libs';
    @import 'global';
    .header {
        background-color: $dark-800;
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 17px 0;
            position: relative;
        }
        &__inner-auto {
            margin-left: 44px;
        }
        &__inner-auto,
        &__inner-call {
            position: relative;
            color: $white;
            margin-right: 82px;
            &:hover {
                color: $silver-600;
            }
            &::before {
                position: absolute;
                content: '';
                background-image: url(../images/icons/auto.svg);
                background-repeat: no-repeat;
                width: 32px;
                height: 22px;
                top: -4px;
                left: -44px;
            }
        }
        &__inner-call {
            &::before {
                background-image: url(../images/icons/call.svg);
                left: -33px;
            }
        }
    }
    
    .menu {
        &__list {
            display: flex;
        }
        &__list-link {
            color: $white;
            margin-left: 24px;
        }
        &__list-link:hover {
            color: $silver-600;
        }
    }
    
    .header__bottom {
        background-color: $green-900;
        padding: 25px 0;
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .catalog {
        padding: 15px 40px 15px 60px;
        position: relative;
        background-color: $white;
        border-radius: 6px;
        @extend %lato-600;
        line-height: 1.4;
        color: $green-900;
        cursor: pointer;
        &__text::after {
            content: '';
            position: absolute;
            background-image: url(../images/icons/down.svg);
            background-repeat: no-repeat;
            width: 7px;
            height: 4px;
            right: 14px;
            top: 22px;
        }
        &__text::before {
            content: '';
            position: absolute;
            background-image: url(../images/icons/nav-btn.svg);
            background-repeat: no-repeat;
            width: 25px;
            height: 17px;
            left: 18px;
            top: 16px;
        }
    }
    
    .search-form {
        position: relative;
        &__input {
            padding: 15px 357px 15px 50px;
            background-color: $white;
            border-radius: 6px;
            border: none;
            @extend %lato-600;
            line-height: 1.3;
            border: none;
        }
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/icons/search.svg);
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            left: 18px;
            top: 16px;
            color: $dark-800;
        }
        &__button {
            position: absolute;
            padding: 16px 52px;
            background-color: $dark-800;
            border-radius: 0 6px 6px 0;
            color: $white;
            text-transform: uppercase;
            right: 0;
            top: 0;
            border: none;
            cursor: pointer;
        }
    }
    
    .user-nav {
        display: flex;
        margin-left: 25px;
        &__link {
            position: relative;
            margin-right: 27px;
            &:hover {
                background-color: $silver-600;
                width: 35px;
                height: 35px;
            }
        }
        &__num {
            content: '';
            position: absolute;
            background-color: $white;
            width: 18px;
            height: 18px;
            left: -7px;
            top: -9px;
            color: $red-900;
            border-radius: 50%;
            text-align: center;
            border: none;
        }
    }
    
    .slider {
        &__inner {
            position: relative;
            .slick-arrow {
                position: absolute;
                top: 50%;
                z-index: 10;
                font-size: 0;
                border-radius: 6px;
                background-color: rgba(255, 255, 255, 0.8);
            }
            .slick-prev,
            .slick-next {
                background-image: url(../images/icons/fon.svg);
                background-repeat: no-repeat;
                background-size: cover;
                border: none;
                right: 60px;
                width: 60px;
                height: 60px;
            }
            .slick-next {
                background-image: url(../images/icons/fon.svg);
                left: 60px;
            }
            .slick-prev::before {
                content: "";
                position: absolute;
                background-image: url(../images/icons/right.svg);
                background-repeat: no-repeat;
                background-size: cover;
                top: 15px;
                left: 18px;
                width: 20px;
                height: 32px;
            }
            .slick-next::before {
                content: "";
                position: absolute;
                background-image: url(../images/icons/left.svg);
                background-repeat: no-repeat;
                background-size: cover;
                top: 15px;
                left: 15px;
                width: 20px;
                height: 32px;
            }
        }
        &__item-content {
            position: relative;
        }
        &__item-info {
            position: absolute;
            background: rgba(255, 255, 255, 0.8);
            margin: 145px 0 0 316px;
            border-radius: 6px;
        }
        &__item-img {
            max-width: 100%;
        }
        &__item-title {
            @extend %signika-700;
            color: $dark-500;
            margin: 24px 24px 12px 24px;
            font-size: 60px;
            line-height: 1.3;
            text-transform: uppercase;
            width: 100%;
        }
        &__item-title1 {
            max-width: 830px;
        }
        &__item-title2 {
            max-width: 819px;
        }
        &__item-title3 {
            max-width: 757px;
        }
        &__item-color {
            color: $red-900;
        }
        &__item-text {
            margin: 0 24px 24px 24px;
        }
        &__item-img {
            width: 100%;
        }
        &__item-btn {
            padding: 12px 24px;
            background-color: $green-900;
            color: $white;
            cursor: pointer;
            border-radius: 5px;
            position: absolute;
            bottom: -70px;
            @extend %lato-400;
            font-size: 18px;
            line-height: 1.3;
        }
    }
    
    .services {
        background-color: $silver-100;
        padding: 40px 0;
        &__items {
            display: flex;
            justify-content: space-evenly;
        }
        &__item--auto,
        &__item--refund,
        &__item--support {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                top: 0;
                left: -74px;
                background-repeat: no-repeat;
            }
        }
        &__item--auto::before {
            background-image: url(../images/icons/auto-img.svg);
        }
        &__item--refund::before {
            background-image: url(../images/icons/return.svg);
        }
        &__item--support::before {
            background-image: url(../images/icons/24-hours.svg);
        }
        &__item-title {
            margin-bottom: 6px;
        }
    }
    
    @import 'media';